<div class="intro2">

	<div class="middlebit">
		<h1>FAQs</h1><br>
		 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in pulvinar elit. Nunc non eros nec elit iaculis pretium. Nulla vel quam id nulla malesuada dictum. Nam velit nisi, varius sit amet egestas ornare, sagittis nec est. Pellentesque euismod lacus ut imperdiet mollis. Ut vel nisi quis ipsum sollicitudin congue. 	<br>	<br>

		 Vivamus rhoncus lacinia metus, in luctus eros malesuada vel. Sed ornare commodo mauris, a mollis enim pulvinar in. Praesent elementum luctus nisi quis adipiscing. Duis elementum ac lacus vitae volutpat. Pellentesque mattis euismod tortor, a venenatis enim cursus vel. Morbi rutrum vitae lorem non lacinia. Curabitur at porta urna, ac congue sem.	<br>	<br>

Pellentesque in dignissim mauris. Suspendisse risus sapien, iaculis ut nibh non, cursus viverra nisi. In adipiscing metus id mauris congue, eu scelerisque neque blandit. Phasellus lacus erat, volutpat ac sagittis id, aliquam in libero. 	<br>	<br>

</div>
</div>