<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Charged</h1>
    <p>
      You've been charged.
    </p>
    <p>
      This is your receipt!
    </p>
  </body>
</html>