<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Subscription Updated</h1>
    <p>
      We've updated your subscription!
    </p>
  </body>
</html>