<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Receipt!</h1>
    <p>
      Here is a receipt!
    </p>
  </body>
</html>