<% if user_signed_in? %>
User is signed in
<% else %>




<div id="welcome" class="hero-unit span7">
  <h1>Accufly - fishing flies made simple</h1>
  <h3>Choose a package. Receive your fishing flies each month</h3>
</div>
<div class="row span8 plans">
  <div class="span2 well">
    <div class="plan"><h2>Silver</h2></div>
    <ul class="unstyled">
      <li>5 flies  a month</li>
    </ul>
    <h3>£4.99/month</h3>
    <%= link_to 'Subscribe', new_user_registration_path(:plan => 'silver'), :class => 'btn btn-primary' %> 
  </div>
  <div class="span2 well featured">
    <div class="plan featured-plan"><h2>Gold</h2></div>
    <ul class="unstyled">
      <li>12 flies a month</li>
    </ul>
    <h3>£9.99/month</h3>
    <%= link_to 'Subscribe', new_user_registration_path(:plan => 'gold'), :class => 'btn btn-primary' %> 
  </div>
  <div class="span2 well">
    <div class="plan"><h2>Platinum</h2></div>
    <ul class="unstyled">
      <li>20 flies a month</li>
    </ul>
    <h3>£14.99/month</h3>
    <%= link_to 'Subscribe', new_user_registration_path(:plan => 'platinum'), :class => 'btn btn-primary' %> 
  </div>
</div>

<% end %>
